/* start hero section */
.portfolio-page-sec-one{
    height: 70vh;
    background-image: url("../imgs/section-bg-7.png");
    background-size: cover;
    background-position: center;
    padding-block:80px 50px;
}
.portfolio-page-sec-one-content{
    height: 50vh;
}
.portfolio-page-sec-one-content h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.portfolio-page-sec-one-content p , .portfolio-page-sec-one-content p a{
    font-size: 1rem;
    color: white;
}
.portfolio-page-sec-one-content p:last-child{
    font-size: 1rem;
    color: #43a5fe;
}
/* end hero section  */


/* start portfolio projects section  */
.view-project{
    background-color: rgba(0, 0, 0, 0.44);
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.view-project button {
    background-color: #16171A;
    padding: 15px 20px;
    font-size: 1.25rem;
    color: white;
    border: none;
    top: -50px;
    opacity: 0;
    transition: all 0.5s ease;
    text-wrap: nowrap;

}
.project-img:hover .view-project{
    opacity: 1;
}
.project-img:hover .view-project button{
    opacity: 1;
    top: 0;

}
.view-project button:hover{
    transition: all 0.5s ease;
    background-color: #FF4800;
    width: auto;
    height:auto;
}
/* end portfolio projects section  */

/* start project card section */
.project-card-icon{
    inset: 0;
    background-color: #16171a7a;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.project-card-icon i{
    font-size: 1.5625rem;
    color: white;
    position: relative;
    top: -20px;
    transition: top 0.5s ease;
}
.project-card-img:hover {
    .project-card-icon{
        opacity: 1;
    }

    .project-card-icon i{
        top: 0;
    }
}
/* end project card section */
