 /* global style */
 h3{
    font-size: 55px;
    font-weight: 700;
 }
 .w-45{
    width: 45%;
 }
 /* =============== start Ahmed===================== */
/* start hero section */
.Services-page-sec-one{
    height: 70vh;
    background-image: url("../imgs/section-bg-2.png");
    background-size: cover;
    background-position: center;
    padding-block:80px 50px;
}
.Services-page-sec-one-content{
    height: 50vh;
}
.Services-page-sec-one-content h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.Services-page-sec-one-content p , .Services-page-sec-one-content p a{
    font-size: 1rem;
    color: white;
}
.Services-page-sec-one-content p:last-child{
    font-size: 1rem;
    color: #43a5fe;
}
/* end hero section  */
 /* =============== end Ahmed===================== */


  /* =============== start Heba===================== */

 /* =============== end Heba===================== */



  /* =============== start Menna===================== */
  /* start style section services_ai */
  .item_service img{
    transition: all .3s ease;
  }
  .item_service:hover img{
    transform: scale(1.1);
  }
  .item_service:hover .content_service{
    transform: translateX(20px);
    background-color: #05051E;
    color: #43a5fe;
  }

.content_service{
    bottom:30px;
    left: 20px;
    backdrop-filter: blur(6.5px);
    cursor: pointer;
    transition: all .3s ease;
}
  /* End style section services_ai */




/* start Get Images of from   */

.Get-Images{
    height: 100%;
    background-image: url("../imgs/pricing-image-3.png");
    background-position: center;
    background-size: cover;
    
    transition: background-image 0.5S ease ;
    }
    .Get-Images:hover{
    background-image: url("../imgs/pricing-image-2.png");

    }
    
    p{
        font-size: 1.0625rem;
        font-weight: 400;
        color: #b9b9ba;
        line-height: 1.9375rem;
    }
    
    
    
  
    .simple-process{
  font-size: 3.125rem;
  font-weight: 700;
    }
    .number{
     
      top: -5px;
      right: 61px;
      font-size: 46px;
      color: #43a5fe;
      font-weight: 500;
  }
  .color-get-imges{
    color: #B3B3B4;
  }
    .porder-process-info{
      border-bottom: 1px #1A243D solid;
    }
    /* end Get Images of from  */




/* start project card section */
.project-card-icon{
    inset: 0;
    background-color: #16171a7a;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.project-card-icon i{
    font-size: 1.5625rem;
    color: white;
    position: relative;
    top: -20px;
    transition: top 0.5s ease;
}
.project-card-img:hover {
    .project-card-icon{
        opacity: 1;
    }

    .project-card-icon i{
        top: 0;
    }
}
/* end project card section */





 /* =============== end Menna===================== */